<h1>Store#index</h1>

<h1>Welcome to my Homepage</h1>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1>Bikes Catalogue</h1>
<% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(product.image_url) %>
      <h3><%= product.make %></h3>
      <%= sanitize(product.description) %>
      <div class="price_line">

        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'Add to Cart', line_items_path(product_id: product),
             remote: true %>

      </div>
    </div>
<% end %>